Host www
    HostName gryphonshafer.com

Host uber
    HostName mail.gryphonshafer.com
    Port 4222

Host git
    HostName git.goldenguru.com

Host ggssh
    User link
    HostName goldenguru.com
    Port 5822
    RemoteForward 5831 localhost:22

Host vmssh
    HostName goldenguru.com
    Port 4222
    RemoteForward 4231 localhost:22
    ServerAliveInterval 60
    TCPKeepAlive yes
