Host www
    HostName www.goldenguru.com

Host mail
    HostName mail.goldenguru.com

Host git
    HostName git.goldenguru.com

Host ggssh
    User link
    HostName goldenguru.com
    Port 5822
    RemoteForward 5831 localhost:22

Host vmssh
    HostName goldenguru.com
    Port 4222
    RemoteForward 4231 localhost:22
    ServerAliveInterval 60
    TCPKeepAlive yes

Host titanic
    HostName localhost
    Port 4231

Host git-codecommit.*.amazonaws.com
    User APKAYSIDXGZVHCVZ7RTI
    IdentityFile ~/.ssh/id_rsa.syzygy_aws_git
